{% extends 'base.html.twig' %}

{% block body %}
    <h1>Joueur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ joueur.id }}</td>
            </tr>
            <tr>
                <th>Imageessai</th>
                <td>{{ joueur.imageEssai }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('joueur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('joueur_edit', { 'id': joueur.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
