h1{
    margin: 50px 0 50px 0 !important;
}
.btn{
    margin-top: 15px !important;
}
input{
    background-color: transparent;
    height: 40px;
    margin-bottom: 15px;
    border: none !important;
    border-bottom: 1px solid #adadad !important;
}
#goflashbundle_jeu_file{
    border: none !important;
}
.btn i{
    padding:20px;
}
.validNewJeu i{
    color: #00a65a;
}
.return i{
    color: #002a80;
}