img{
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    height: 80%;
}
#go{
    padding: 20px;
}
#go i{
    color: #00a65a;
}
.vignetteJeu{
    -webkit-box-shadow: 3px 5px 10px black;
    -moz-box-shadow: 3px 5px 10px black;
    box-shadow: 3px 5px 10px black;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
}
.vignetteJeu img{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}