h1{
    font-size: 30px;
    margin-top: 5px !important;
}
h2{
    font-size: 20px;
    margin-top: 5px !important;
}

img{
    margin: 0 auto;
    padding: 5px;
    width: 60%;
    height: 60%;
}
#go{
    padding: 20px;
}
#go i{
    color: #00a65a;
}
.vignetteJeu{
    -webkit-box-shadow: 3px 5px 10px black;
    -moz-box-shadow: 3px 5px 10px black;
    box-shadow: 3px 5px 10px black;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
}