{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            </div>
        {% endfor %}
    {% endblock %}
    {% block main %}

    {% endblock %}
    {% block footer %}
        {% block navBottom %}
            {% include 'GoFlashBundle::navbar.html.twig' %}
        {% endblock %}
    {% endblock %}
{% endblock %}